@namespace Oqtane.Theme.Corporate
@inherits ContainerBase
@inject ISettingService SettingService

@if (_layout == "standard")
{
    <section data-aos="@_animate">
        <div class="container">
            <ModuleActions />
            @if (_title && ModuleState.Title != "-")
            {
                <div class="section-title">
                    <h2>@ModuleState.Title</h2>
                </div>
            }
            <div class="row">
                <ModuleInstance />
            </div>
        </div>
    </section>
}
else
{
    <ModuleActions />
    <ModuleInstance />
}


@code {
    private string _layout = "";
    private bool _title = true;
    private string _animate = "";

    protected override void OnParametersSet()
    {
        try
        {
            _layout = SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Layout", "");
            if (string.IsNullOrEmpty(_layout))
            {
                _layout = SettingService.GetSetting(PageState.Page.Settings, GetType().Namespace + ":Layout", "standard");
            }
            if (_layout == "standard")
            {
                _title = bool.Parse(SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Title", "true"));
                _animate = SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Animate", "fade-up");
            }
        }
        catch
        {
            // error loading container settings
        }
    }
}