@namespace Oqtane.Theme.Arsha
@inherits ContainerBase
@inject ISettingService SettingService

@if (_title)
{
    <section data-aos="@((_animate) ? "fade-up" : "")">
        <div class="container">
            <ModuleActions />
            @if (ModuleState.Title != "-")
            {
                <div class="section-title">
                    <h2>@ModuleState.Title</h2>
                </div>
            }
            <div class="row">
                <ModuleInstance />
            </div>
        </div>
    </section>
}
else
{
    <ModuleActions />
    <ModuleInstance />
}


@code {
    private bool _title = true;
    private bool _animate = false;

    protected override void OnParametersSet()
    {
        try
        {
            _title = bool.Parse(SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Title", "true"))
                && !ModuleState.Title.StartsWith("//");
            _animate = bool.Parse(SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Animate", "false"));
        }
        catch
        {
            // error loading container settings
        }
    }
}