@namespace Oqtane.Theme.Corporate
@inherits MenuItemsBase

<ul>
    @foreach (var childPage in GetChildPages())
    {
        var _attributes = new Dictionary<string, object>();
        _attributes.Add("href", GetUrl(childPage));
        var _target = GetTarget(childPage);
        if (!string.IsNullOrEmpty(_target))
        {
            _attributes.Add("target", _target);
        }

        if (!childPage.HasChildren)
        {
            if (childPage.Level == 0)
            {
                if (childPage.PageId == PageState.Page.PageId)
                {
                    <li>
                        <a class="active" @attributes="_attributes">@childPage.Name</a>
                    </li>
                }
                else
                {
                    <li>
                        <a @attributes="_attributes">@childPage.Name</a>
                    </li>
                }
            }
            else
            {
                <li>
                    <a @attributes="_attributes">@childPage.Name</a>
                </li>
            }
        }
        else
        {
            <li class="dropdown">
                <a @attributes="_attributes"><span>@childPage.Name</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <NavMenuItems ParentPage="childPage" Pages="Pages" />
            </li>
        }
    }
</ul>
